<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Eternity Forms Preview</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="css/authenticate.css" rel="stylesheet" />
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="js/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
</head>
<body class="eternity-form">
    <nav class="main-nav">
        <ul>
            <li><a href="#demo1" class="active" data-title="로그인" data-panel="first"></a></li>
            <li><a href="#demo2" data-title="회원가입" data-panel="second"></a></li>
            <li><a href="#demo3" data-title="비밀번호 찾기" data-panel="third"></a></li>
           
        </ul>
    </nav>
   
    <section class="colorBg1 colorBg" id="demo1" data-panel="first">

        <div class=" container">

            <div class="login-form-section">
                <div class="login-content " data-animation="bounceIn">
                    <form action='/login' id="login_form" method="POST" accept-charset='UTF-8'>
                        <div class="section-title">
                            <h3>UOS Evaluate Login</h3>
                        </div>
                        
                      
                        
                        <div class="textbox-wrap">
                            <div class="control-group">
                            <div class="controls">
                            	<div class="input-group">
	                                <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
	                                <input class="form-control" name="emailinput"   data-validation-email-message="올바른 형식의 이메일을 입력하세요." data-validation-required-message="이메일을 입력하세요."   type="email" placeholder="이메일" required/>
                              		
                                </div>
                               <p class="help-block text-danger"></p>
                             </div>  
                            </div>
                        </div>
                        <div class="textbox-wrap">
                        <div class="control-group">
                        	 <div class="controls">
                            <div class="input-group controls">
                                <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
                                <input class="form-control input-large"  name="passwordinput"  type="password" data-validation-required-message="비밀번호를 입력하세요." placeholder="비밀번호"  required ></input>
			             		
                            </div>
                          	  <p class="help-block text-danger"></p>
                           </div>
                                
                            </div>
                        </div>
                          <% if(loginMessage.length>0){%>
						     <div class="alert alert-danger"><%=loginMessage%></div> 
						  <%}%>
                        <div class="login-form-action clearfix">
                            <div class="checkbox pull-left">
                                <div class="custom-checkbox">
                                    <input type="checkbox" checked name="iCheck">
                                </div>
                                <span class="checkbox-text pull-left">&nbsp;기억하기</span>
                            </div>
                            <button type="submit" class="btn btn-success pull-right green-btn">로그인 &nbsp; <i class="icon-chevron-right"></i></button>
                        </div>
                    </form>
	              
                </div>
                <div class="login-form-links link1 " data-animation="fadeInLeftBig" data-animation-delay=".2s">
                    <h4 class="blue">회원이 아니세요?</h4>
                    <a href="#demo2" class="blue">여기를 눌러</a>
                    <span>회원가입 하세요</span>
                </div>
                <div class="login-form-links link2 " data-animation="fadeInRightBig" data-animation-delay=".4s">
                    <h4 class="green">비밀번호를 잊으셨나요?</h4>
                    <span>걱정마세요</span>
                    <a href="#demo3" class="green">여기를 눌러</a>
                    <span>비밀번호를 찾으세요</span>
                </div>
            </div>



        </div>
    </section>
     <section class="colorBg form-seprator i2">

        <i class="icon-windows" data-animation="bounceInUp"></i>
        <br />
        <br />
        <h1 data-animation="bounceInUp" data-animation-delay=".2s">UOS EVALUATE</h1>


    </section>
  
    <section class="colorBg2 colorBg" id="demo2" data-panel="second">
        <div class=" container">
            <br />
            <br />
            <!-- #region Registration Form -->
            <div class="registration-form-section">
                <form role="form"  accept-charset="UTF-8"  id="signup_form" action="/signup" method="POST" novalidate>
                    <div class="section-title reg-header " data-animation="fadeInDown">
                        <h3>회원가입 </h3>

                    </div>
                    <div class="clearfix">
                        <div class="col-sm-6 registration-left-section  " data-animation="fadeInUp">
                            <div class="reg-content">
                                <div class="textbox-wrap">
                                  <div class="control-group">
                                   <div class="control">
		                                    <div class="input-group">
		                                        <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
		                                        <input class="form-control" name="email"  data-validation-ajax-ajax="/email_validation" data-validation-email-message="올바른 형식의 이메일을 입력하세요." data-validation-required-message="이메일을 입력하세요." placeholder="이메일"   type="email" placeholder="JoeSixpack@sixpacksrus.com" required aria-invalid="true"></input>
		                                    </div>
	                                    <p class="help-block text-danger"></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="textbox-wrap">
                               	 <div class="control-group">
                               	 	<div class="control">
		                                    <div class="input-group">
		                                        <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
		                                         <input class="form-control input-large"  name="password"  type="password" data-validation-required-message="비밀번호를 입력하세요."  placeholder="비밀번호" required aria-invalid="true"></input>
		                                    </div>
	                                     <p class="help-block text-danger"></p>
                                    </div>
                                 </div>
                                </div>
                                <div class="textbox-wrap">
                                  <div class="control-group">
                                    <div class="control">
		                                    <div class="input-group">
		                                        <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
		                                         <input class="form-control" data-validation-match-match="password" data-validation-match-message="위와 동일한 비밀번호를 입력하세요." data-validation-required-message="비밀번호를 다시 한번 입력하세요." name="reenterpassword" type="password" placeholder="비밀번호확인" required aria-invalid="true"></input>
		                                    </div>
	                                    <p class="help-block text-danger"></p>
                                    </div>
                                  </div>
								</div>

                            </div>
                        </div>
                        <div class="col-sm-6 registration-right-section " data-animation="fadeInUp">
                            <div class="reg-content">
                                <div class="textbox-wrap">
                                <div class="control-group">
                                   <div class="control">
		                                    <div class="input-group">
		                                        <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
		                                       <input id="major" name="major" class="form-control input-large" type="text" placeholder="학부" data-validation-required-message="학부를 입력하세요." required aria-invalid="true">
		                                    </div>
	                                    <p class="help-block text-danger"></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="textbox-wrap">
                                  <div class="control-group">
                                   <div class="control">
		                                    <div class="input-group">
		                                        <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
		                                         <input id="alias" name="alias" data-validation-required-message="닉네임을 입력하세요" data-validation-ajax-ajax="/alias_validation"  class="form-control input-large" type="text" placeholder="닉네임" required aria-invalid="true">
		                                    </div>
		                                 <p class="help-block text-danger"></p>  
                                    </div>
                                  </div>
                                </div>
                                <div class="textbox-wrap">
	                                  <div class="control-group">
	                                   <div class="control">
			                                    <div class="input-group">
			                                        <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
			                                         <input id="alias" name="introduction"  class="form-control input-large" type="text" placeholder="자기소개"  aria-invalid="true">
			                                    </div>
			                                 <p class="help-block text-danger"></p>  
	                                    </div>
	                                  </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="registration-form-action clearfix " data-animation="fadeInUp" data-animation-delay=".15s">
                        <a href="#demo1" class="btn btn-success pull-left blue-btn ">
                            <i class="icon-chevron-left"></i>&nbsp; &nbsp;로그인으로 가기
                        </a>
                       
                      <button type="submit" class="btn btn-success pull-right green-btn ">지금 가입하기&nbsp; <i class="icon-chevron-right"></i></button>
                    </div>
                </form>
            </div>



        </div>
    </section>
    <section class="colorBg form-seprator i2">

        <i class="icon-windows" data-animation="bounceInUp"></i>
        <br />
        <br />
        <h1 data-animation="bounceInUp" data-animation-delay=".2s">UOS EVALUATE</h1>


    </section>
    <section class="colorBg3 colorBg" id="demo3" data-panel="third">
        <div class=" container">
            <br />
            <br />
            <br />

            <div class="forgot-password-section" data-animation="bounceInLeft">
                <div class="section-title">
                    <h3>비밀번호 찾기</h3>
                </div>
                <div class="forgot-content">
                    <form>
                        
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon "><i class="icon-envelope icon-color"></i></span>
                                <input type="email" class="form-control " placeholder="Email Id" required="required" />
                            </div>
                        </div>
                        <div class="forget-form-action clearfix">
                            <a class="btn btn-success pull-left blue-btn" href="#demo1"><i class="icon-chevron-left"></i>&nbsp;&nbsp;뒤로가기 </a>
                            <button type="submit" class="btn btn-success pull-right green-btn">전송 &nbsp;&nbsp; <i class="icon-chevron-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </section>
    

    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/respond.src.js"></script>
    <script src="js/jquery.icheck.js"></script>
    <script src="js/placeholders.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.panelSnap.js"></script>
    <!-- Validation JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <!-- login validation js -->
	<script src="js/authenticate_init.js"></script>

    <script type="text/javascript">
        $(function () {
            $("input").iCheck({
                checkboxClass: 'icheckbox_square-blue',
                increaseArea: '20%' // optional
            });
            $(".dark input").iCheck({
                checkboxClass: 'icheckbox_polaris',
                increaseArea: '20%' // optional
            });
            $(".form-control").focus(function () {
                $(this).closest(".textbox-wrap").addClass("focused");
            }).blur(function () {
                $(this).closest(".textbox-wrap").removeClass("focused");
            });

            //On Scroll Animations


            if ($(window).width() >= 968 && !Modernizr.touch && Modernizr.cssanimations) {

                $("body").addClass("scroll-animations-activated");
                $('[data-animation-delay]').each(function () {
                    var animationDelay = $(this).data("animation-delay");
                    $(this).css({
                        "-webkit-animation-delay": animationDelay,
                        "-moz-animation-delay": animationDelay,
                        "-o-animation-delay": animationDelay,
                        "-ms-animation-delay": animationDelay,
                        "animation-delay": animationDelay
                    });

                });
                $('[data-animation]').waypoint(function (direction) {
                    if (direction == "down") {
                        $(this).addClass("animated " + $(this).data("animation"));

                    }
                }, {
                    offset: '90%'
                }).waypoint(function (direction) {
                    if (direction == "up") {
                        $(this).removeClass("animated " + $(this).data("animation"));

                    }
                }, {
                    offset: $(window).height() + 1
                });
            }

            //End On Scroll Animations


            $(".main-nav a[href]").click(function () {
                var scrollElm = $(this).attr("href");

                $("html,body").animate({ scrollTop: $(scrollElm).offset().top }, 500);

                $(".main-nav a[href]").removeClass("active");
                $(this).addClass("active");
            });




            if ($(window).width() > 1000 && !Modernizr.touch) {
                var options = {
                    $menu: ".main-nav",
                    menuSelector: 'a',
                    panelSelector: 'section',
                    namespace: '.panelSnap',
                    onSnapStart: function () { },
                    onSnapFinish: function ($target) {
                        $target.find('input:first').focus();
                    },
                    directionThreshold: 50,
                    slideSpeed: 200
                };
                $('body').panelSnap(options);

            }

            $(".colorBg a[href]").click(function () {
                var scrollElm = $(this).attr("href");

                $("html,body").animate({ scrollTop: $(scrollElm).offset().top }, 500);

                return false;
            });


           

        });
    </script>

</body>
</html>
