<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>서울시립대 강의평가</title>
  
    <!-- jquery  -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
 

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


	<!-- Ajax Table CSS CDN Link -->
	<link href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
	
	<!-- Reponsive Table CSS CDN Link -->
	<link href="//cdn.datatables.net/responsive/1.0.3/css/dataTables.responsive.css" rel="stylesheet" type="text/css">
	<!-- Custom CSS -->
    <link href="css/index.css" rel="stylesheet">
	

	
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">UOS Evaluate</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  
                    <li class="page-scroll">
                        <a href="#evaluate_and_search">Search/Evaluate</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/authenticatepage" >Enroll/Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            
          
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header class="hidden-md hidden-sm hidden-xs">
        <div class="container">
           <div class="row">
                <div class="col-lg-3 col-md-3 ">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><h4>26개의</h4></div>
                                    <div><h4>새로운 평가!</h4></div>
                                </div>
                            </div>
                        </div>
                        <span class="page-scroll">
	                        <a href="#evaluate_and_search" class="page-scroll">
	                            <div class="panel-footer">
		                            <span class="pull-left">최근평가보기</span>
		                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                                <div class="clearfix"></div>
	                            </div>
	                        </a>
                        </span>
                    </div>
                     <div class="panel panel-primary">
	                        
	                        <div class="panel-heading">
	                            <div class="row">
	                                <div class="col-xs-3">
	                                    <i class="fa fa-tasks fa-5x"></i>
	                                </div>
	                                <div class="col-xs-9 text-right">
	                                    <div class="huge"><h4>12개의</h4></div>
	                                    <div><h4>강의들!</h4></div>
	                                </div>
	                            </div>
	                        </div>
                        
	                        <span class="page-scroll">
		                        <a href="#evaluate_and_search">
		                            <div class="panel-footer">
		                                <span class="pull-left">강좌보기</span>
		                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                                <div class="clearfix"></div>
		                            </div>
		                        </a>
	                        </span>
                    </div>
                
                </div>
                
                
                <div class="col-lg-6 col-md-6">
                 	<div class="panel red-panel">
                        <div class="panel-heading">
                           		 최근평가
                        </div>
                        <div class="panel-body" style="min-height:10;max-height:10">
                        
                        </div>
                      
                         
	             
                    </div>
                </div>
               
                   
               
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="evaluate_and_search">
    
		    	 <div class="container" >
		           	 
		         <div class="row">
	     		 <div class="col-sm-7" style="height:200px;">
                    <div class="panel green-panel">
                        <div class="panel-heading">
                             	강의검색
                        </div>
                        <div class="panel-body" >
                            <table id="course" class="display"  cellspacing="0" width="100%">
								        <thead>
								            <tr>
								                <th>학부</th>
								                <th>교과구분</th>
								                <th>교과목명</th>
								                <th>담당교수</th>
								                <th>시간/강의실</th>
								               	<th></th>
								            </tr>
								        </thead>
								        <tfoot>
								             <tr>
								                <th>학부</th>
								                <th>교과구분</th>
								                <th>교과목명</th>
								                <th>담당교수</th>
								                <th>시간/강의실</th>
								               	<th></th>
								            </tr>
										</tfoot>
								        
							   				
							</table>
                        </div>  
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                
                 <div class="col-sm-5" >
                    <div class="panel navy-panel">
                        <div class="panel-heading">
                           	 시간표
                        </div>
                        <div class="panel-body">
                        
                        <table class="table table-bordered" id="timetable" style="table-layout:fixed">
							<thead>
						          <tr>
						            <th></th>
						            <th>월</th>
						            <th>화</th>
						            <th>수</th>
						            <th>목</th>
						            <th>금</th>
						            <th>토</th>
						          </tr>
						   </thead>
						   <tbody>				   
							  <tr id="01">
					           <td style="width:80px;text-align: center"><strong>1교시</strong><p style="font-size:8px"> 09:00-09:50</p></td>
					            <td id="011" time="월요일 1교시"></td>
					            <td id="012" time="화요일 1교시"></td>
					            <td id="013" time="수요일 1교시"></td>
					            <td id="014" time="목요일 1교시"></td>
					            <td id="015" time="금요일 1교시"></td>
					            <td id="016" time="토요일 1교시"></td>
					          </tr>
					          <tr id="02">
					            <td style="width:80px;text-align: center"><strong>2교시</strong><p style="font-size:8px"> 10:00-10:50</p></td>
					            <td id="021" time="월요일 2교시"></td>
					            <td id="022" time="화요일 2교시"></td>
					            <td id="023" time="수요일 2교시"></td>
					            <td id="024" time="목요일 2교시"></td>
					            <td id="025" time="금요일 2교시"></td>
					            <td id="026" time="토요일 2교시"></td>
					          </tr>
					          <tr id="03">
					            <td style="width:80px;text-align: center"><strong>3교시</strong><p style="font-size:8px"> 11:00-11:50</p></td>
					       		<td id="031" time="월요일 3교시"></td>
					            <td id="032" time="화요일 3교시"></td>
					            <td id="033" time="수요일 3교시"></td>
					            <td id="034" time="목요일 3교시"></td>
					            <td id="035" time="금요일 3교시"></td>
					            <td id="036" time="토요일 3교시"></td>
					          </tr>
					          <tr id="04">
					           <td style="width:80px;text-align: center"><strong>4교시</strong><p style="font-size:8px"> 12:00-12:50</p></td>
					           	<td id="041" time="월요일 4교시"></td>
					            <td id="042" time="화요일 4교시"></td>
					            <td id="043" time="수요일 4교시"></td>
					            <td id="044" time="목요일 4교시"></td>
					            <td id="045" time="금요일 4교시"></td>
					            <td id="046" time="토요일 4교시"></td>
					          </tr>
					          <tr id="05">
					           <td style="width:80px;text-align: center"><strong>5교시</strong><p style="font-size:8px"> 13:00-13:50</p></td>
					         
					            <td id="051" time="월요일 5교시"></td>
					            <td id="052" time="화요일 5교시"></td>
					            <td id="053" time="수요일 5교시"></td>
					            <td id="054" time="목요일 5교시"></td>
					            <td id="055" time="금요일 5교시"> </td>
					            <td id="056" time="토요일 5교시"> </td>
					          </tr>
					          <tr id="06">
					         <td style="width:80px;text-align: center"><strong>6교시</strong><p style="font-size:8px"> 14:00-14:50</p></td>
					          <td id="061" time="월요일 6교시"></td>
					           <td id="062" time="화요일 6교시"></td>
					            <td id="063" time="수요일 6교시"></td>
					            <td id="064" time="목요일 6교시"></td>
					            <td id="065" time="금요일 6교시"></td>
					            <td id="066" time="토요일 6교시"></td>
					          
					          </tr>
					          <tr id="07">
					            <td style="width:80px;text-align: center"><strong>7교시</strong><p style="font-size:8px"> 15:00-15:50</p></td>
					          <td id="071" time="월요일 7교시"></td>
					            <td id="072" time="화요일 7교시"></td>
					            <td id="073" time="수요일 7교시"></td>
					            <td id="074" time="목요일 7교시"></td>
					            <td id="075" time="금요일 7교시"></td>
					            <td id="076" time="토요일 7교시"></td>
					          </tr>
					          <tr id="08">
					             <td style="width:80px;text-align: center"><strong>8교시</strong><p style="font-size:8px"> 16:00-16:50</p></td>
					            <td id="081" time="월요일 8교시"></td>
					            <td id="082" time="화요일 8교시"></td>
					            <td id="083" time="수요일 8교시"></td>
					            <td id="084" time="목요일 8교시"></td>
					            <td id="085" time="금요일 8교시"></td>
					            <td id="086" time="토요일 8교시"></td>
					          </tr>
					          <tr id="09">
					             <td style="width:80px;text-align: center"><strong>9교시</strong><p style="font-size:8px"> 17:00-17:50</p></td>
					           <td id="091" time="토요일 4교시"></td>
					            <td id="092" time="토요일 4교시"></td>
					            <td id="093" time="토요일 4교시"></td>
					            <td id="094" time="토요일 4교시"></td>
					            <td id="095" time="토요일 4교시"></td>
					            <td id="096" time="토요일 4교시"></td>
					          </tr>
					          <tr id="10">
					             <td style="width:80px;text-align: center"><strong>10교시</strong><p style="font-size:8px"> 18:00-18:50</p></td>
					            <td id="101" time="토요일 4교시"></td>
					            <td id="102" time="토요일 4교시"></td>
					            <td id="103" time="토요일 4교시"></td>
					            <td id="104" time="토요일 4교시"></td>
					            <td id="105" time="토요일 4교시"></td>
					            <td id="106" time="토요일 4교시"></td>
					          </tr>
					          <tr id="11">
					            <td style="width:80px;text-align: center"><strong>11교시</strong><p style="font-size:8px"> 19:00-19:50</p></td>
					            <td id="111" time="토요일 4교시"></td>
					            <td id="112" time="토요일 4교시"></td>
					            <td id="113" time="토요일 4교시"></td>
					            <td id="114" time="토요일 4교시"></td>
					            <td id="115"></td>
					            <td id="116"></td>
					          </tr>
					          <tr id="12">
					             <td style="width:80px;text-align: center"><strong>12교시</strong><p style="font-size:8px"> 20:00-20:50</p></td>
					            <td id="121"></td>
					            <td id="122"></td>
					            <td id="123"></td>
					            <td id="124"></td>
					            <td id="125"></td>
					            <td id="126"></td>
					          </tr>
					          <tr id="13">
					             <td style="width:80px;text-align: center"><strong>13교시</strong><p style="font-size:8px"> 21:00-21:50</p></td>
					            <td id="131"></td>
					            <td id="132"></td>
					            <td id="133"></td>
					            <td id="134"></td>
					            <td id="135"></td>
					            <td id="136"></td>
					          </tr>
						   
						   
						   </tbody>
						   
						     
						</table>
                            
                        </div>
                       
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
	     		</div>		
			</div>
   					
	</section>
	
	
	
	
	<!-- signup/login modal -->

	<div class="modal fade bs-modal-sm" id="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab"><h4>로그인</h4></a></li>
              <li class=""><a href="#signup" data-toggle="tab"><h4>회원가입</h4></a></li>
            </ul>
        </div>
        
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="signin">
            
            
            <form action='/login' id="login_form" method="POST" accept-charset='UTF-8'>
            
            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="emailinput">이메일 : </label>
              <div class="controls">
              <input class="form-control" name="emailinput"   data-validation-email-message="올바른 형식의 이메일을 입력하세요." data-validation-required-message="이메일을 입력하세요."   type="email" placeholder="JoeSixpack@sixpacksrus.com" required></input>
              <p class="help-block text-danger"></p>
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
            
              <label class="control-label"  for="passwordinput">비밀번호 :</label>
              <div class="controls">
              <input class="form-control input-large"  name="passwordinput"  type="password" data-validation-required-message="비밀번호를 입력하세요." placeholder="********"  required ></input>
              <p class="help-block"></p>
              </div>
            </div>

            <!-- Multiple Checkboxes (inline) -->
            
                
            <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                  	저장하기
           

            <!-- Button -->
         		  <div class="alert alert-danger" id="login_message"></div> 
         		<br>
                <button  type="submit"  class="btn btn-success">로그인</button>
              
            </form>
        </div>
        <div class="tab-pane fade" id="signup">
            
            <form role="form" accept-charset="UTF-8"  id="signup_form" action="/signup" method="POST">
         
            <!-- Sign Up Form -->
             
            <!-- Email input-->
            <div class="control-group">
              <label class="control-label" for="email">이메일 : </label>
              <div class="controls">
              <input class="form-control" name="email"  data-validation-ajax-ajax="/email_validation" data-validation-email-message="올바른 형식의 이메일을 입력하세요." data-validation-required-message="이메일을 입력하세요."   type="email" placeholder="JoeSixpack@sixpacksrus.com" required aria-invalid="true"></input>
              <p class="help-block text-danger"></p>
              </div>
            </div>
            
            
            <!-- Password input-->
            <div class="control-group">
            
              <label class="control-label"  for="password">비밀번호 :</label>
              <div class="controls">
              <input class="form-control input-large"  name="password"  type="password" data-validation-required-message="비밀번호를 입력하세요." placeholder="********"  required aria-invalid="true"></input>
              <p class="help-block text-danger"></p>
              </div>
            </div>
            
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label"  for="reenterpassword">비밀번호 확인 :</label>
              <div class="controls">
              <input class="form-control" data-validation-match-match="password" data-validation-match-message="위와 동일한 비밀번호를 입력하세요." data-validation-required-message="비밀번호를 다시 한번 입력하세요." name="reenterpassword" type="password" placeholder="********" required aria-invalid="true"></input>
              <p class="help-block"></p>
              </div>
            </div>
            
            
             <!-- Email input-->
            <div class="form-group">
              <label  for="major">학부 :</label>
              <input id="major" name="major" class="form-control input-large" type="text" placeholder="예)컴퓨터과학부" data-validation-required-message="학부를 입력하세요." required aria-invalid="true">
            </div>
            
            <!-- Email input-->
            <div class="control-group">
              <label class="control-label"  for="alias">닉네임 :</label>
              <div class="controls">
              <input id="alias" name="alias" data-validation-required-message="닉네임을 입력하세요" data-validation-ajax-ajax="/alias_validation"  class="form-control input-large" type="text" placeholder="시립대 멋쟁이" required aria-invalid="true">
              <p class="help-block"></p>
              </div>
            </div>
            
            <div class="alert alert-danger hidden" id="signup_message"></div> 
            
            <div class="form-actions">
            <!-- Button -->
            <button type="submit" class="btn btn-success">회원가입</button>
            </div>
            </form>
      </div>
    </div>
      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
  
      </div>
    </div>
  </div>
</div>



  

    <!-- Footer -->
    <footer class="text-center" id="footer">
        
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                       UOS Evaluate by JongHwanKim
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

  
    

    <!-- jQuery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 

    <!-- Bootstrap Core JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    
 
    <!-- Validation JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/index.js"></script>
    <script src="js/tableCreate.js"></script>
    <script src="js/colummFilter.js"></script>
  	
  	
  	<!-- Column Filter Plugin -->
    <script src="js/jquery.dataTables.columnFilter.js"></script>
    
    <!-- Ajax Table JavaScript CDN Link -->
    <script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <!-- Reponsive Table JavaScript CDN Link -->
	<script src="//cdn.datatables.net/responsive/1.0.3/js/dataTables.responsive.js"></script>

    
  

</body>

</html>
