
    <!-- jQuery -->
    <script src="../../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>

  
    <!--  multi select configuration -->
    <script src="../../js/select_configuration"><</script>


    
    <!-- Validation JavaScript -->
    <script src="../../js/jqBootstrapValidation.js"></script>
 
    <!-- MultiSelect JavaScript -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
  	<!-- evaluation_post JavaScript -->
  	<script type="text/javascript" src="../../js/evaluation_init.js"></script>
  	<!-- socket.io CDN JavaScript -->
  	<script src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
   	<!-- bootstrap-pagination plugin -->
  	<script src="../../js/bootstrap-paginator.min.js"></script>