
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- jquery ui -->
    <script src="/js/jquery-ui.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>

    <!-- Validation JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
 

  	<!-- socket.io CDN JavaScript -->
  	<script src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
  	
  	<!-- pagination -->
  	<script type="text/javascript" src="/js/jquery.bs_pagination.min.js"></script>
  	<script type="text/javascript" src="/js/en.min.js"></script>