	<!-- jquery  -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 

    <!-- Bootstrap Core JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    
 
    <!-- Validation JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/index.js"></script>
    <script src="js/tableCreate.js"></script>
  
    <!-- Ajax Table JavaScript CDN Link -->
   	<script src="js/bootstrap-table.js"></script>
   	<script src="js/bootstrap-table-ko-KR.js"></script>
   	<script src="js/bootstrap-table-filter.js"></script>
  
  
