<div id="custom-toolbar">
	
		<ul class="nav nav-pills">
			<li>
			    <select id="year" class="form-control"  style="float:left" >
			    	<option value=" 2015 ">2015</option>
			    	<option value=" 2014 ">2014</option>
			    	<option value=" 2013 ">2013</option>
			    	<option value=" 2012 ">2012</option>
			    	<option value=" 2011 ">2011</option>
			    </select>
	   		</li>
	   		<li>
			    <select id="term" class="form-control" style="float:left" >
			    	<option value=" A10 ">1학기</option>
			    	<option value=" A20 ">2학기</option>
			    </select>
	    	</li>
    		<li>
    			<button class="btn btn-success" id="submit" onClick="$('#table').bootstrapTable('refresh')" style="float:left" ><strong>조회</strong></button>
    		</li>
   	 </ul>
</div>